.sidebar nav ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0; /* Remove default margin */
}

.sidebar {
    display: flex;
    background-color: lightblue;
    flex-direction: column;
    width: 220px;
    height: 900px;
}