.sidebar nav ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0; /* Remove default margin */
}

.sidebar {
    display: grid;
    background-color: lightblue;
    grid-template-columns: 10px;
}